.select span {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    padding: 5px;
    min-width: 50px;
    min-height: 20px;
}

.items {
    border: 1px solid black;
    position: absolute;
}


.item {
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 6px;
}

.selected {
    background-color: rgb(71, 101, 245);
    color: azure;
}

